* {
font-family:MC;
}
body {
margin:0px;
background-color:black;
background-image:url('../imgs/DarkDirt.png');
background-size:500px 500px;
}
@font-face
{
font-family: MC;
src: url('../fonts/mc.ttf');
}
.content {
color:white;
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:45%;
	}
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
a {
transition: .3s;
-webkit-transition: .3s;
color:lightgray;
text-decoration:underline;
}
.navbar-default {
background: -moz-linear-gradient(top,  rgba(76,76,76,0.8) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.6)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
border-radius:0px;
border:1px solid black;
}
.navbar-default .navbar-toggle {
height:33px;
border-color:gray;
background-color:rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand {
color:white;
font-size:16px;
line-height:16px;
text-decoration:none;
}
.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-brand:focus {
color:lime;
text-decoration:none;
}
a:hover {
color:lime;
}
h1 {
text-shadow: 0px 0px 5px lime;
}
.navbar-default .navbar-nav li a {
color:white;
box-shadow:inset 0px 0px 10px black;
text-decoration:none;
margin-left:5px;
margin-right:5px;
}

.navbar-default:hover .navbar-nav:hover li:hover a:hover {
color:black;
background-color:lightgray;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
background-color:rgba(255, 255, 255, 0.28);
color:white;
}

.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
box-shadow:inset 0px 0px 10px black;
background-size:100% 100%;
}
.titlehead:hover {
color:lime;
text-decoration:none;
}
/*Home*/
#desc {
border-radius:10px;
max-width:100%;
display:block;text-decoration:none;color:white;padding:10px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#artlink {
display:block;color:white;
text-align:center;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
#half {
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
border:black 1px solid;
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:7px;
margin-right:7px;
display:inline-block;
vertical-align:top;
}
/*EndHome*/
/*News*/
#newsart {
display:block;text-decoration:none;color:white;padding:5px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;color:lightgray;text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.5;
}
#backln:hover {
opacity:.7;
color:lime;
}
/*EndNews*/"
Minecraft theme="* {
font-family:MC;
}
body {
margin:0px;
background-color:black;
background-image:url('../imgs/body.jpg');
background-size:50px 50px;
text-shadow:2px 2px rgba(0, 0, 0, 0.64);
}
@font-face
{
font-family: MC;
src: url('../fonts/mc.ttf');
}
hr {
border:black 1px solid;
}
.content {
color:black;
text-shadow:2px 2px rgba(0, 0, 0, 0.4);
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:45%;
	}
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
a {
transition: .3s;
-webkit-transition: .3s;
color:lime;
text-decoration:underline;
}
.navbar-default {
background-image:url('../imgs/links.jpg');
background-size:37px 37px;
background-repeat:repeat-x;
border-radius:0px;
background-color:rgba(0,0,0,0.5);
border:none;
}
.navbar-default .navbar-toggle {
height:33px;
border-color:gray;
background-color:rgba(255,255,255,0.9);
}
.navbar-default .navbar-brand {
color:white;
font-size:16px;
line-height:16px;
text-decoration:none;
}
.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-brand:focus {
color:yellow;
text-decoration:none;
}
a:hover {
color:yellow;
}
h1 {
color:white;
text-shadow: 0px 0px 20px black;
}
.navbar-default .navbar-nav li a {
color:yellow;
text-decoration:none;
margin-left:5px;
margin-right:5px;
}

.navbar-default:hover .navbar-nav:hover li:hover a:hover {
color:white;
background-image:url('../imgs/footer.jpg');
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
background-color:rgba(255, 255, 255, 0.0);
color:lime;
}

.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
background-size:100% 100%;
}
.titlehead:hover {
color:yellow;
text-decoration:none;
}
/*Home*/
#desc {
border-radius:10px;
max-width:100%;
display:block;text-decoration:none;color:white;padding:10px;
background-image:url('../imgs/stone.png');

margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#artlink {
display:block;color:white;
text-align:center;
background-image:url('../imgs/stone.png');
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
#half {
color:white;
background-image:url('../imgs/stone.png');
border:black 1px solid;
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:7px;
margin-right:7px;
display:inline-block;
vertical-align:top;
}
/*EndHome*/
/*News*/
#newsart {
display:block;text-decoration:none;color:white;padding:5px;
background-image:url('../imgs/stone.png');
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;background-image:url('../imgs/stone.png');text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.9;
}
#backln:hover {
opacity:1;
color:yellow;
}
/*EndNews*/"
Blue Theme="* {
font-family:MC;
}
body {
margin:0px;
background-color:black;
background-image:url('../imgs/bodyblu.jpg');
}
.content {
color:white;
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:45%;
	}
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
a {
transition: .3s;
-webkit-transition: .3s;
color:lightgray;
text-decoration:underline;
}
.navbar-default {
background: rgb(160,209,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(160,209,222,.5) 0%, rgba(98,197,222,.5) 50%, rgba(92,187,206,.5) 51%, rgba(40,173,206,.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,209,222,.5)), color-stop(50%,rgba(98,197,222,.5)), color-stop(51%,rgba(92,187,206,.5)), color-stop(100%,rgba(40,173,206,.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(160,209,222,.5) 0%,rgba(98,197,222,.5) 50%,rgba(92,187,206,.5) 51%,rgba(40,173,206,.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(160,209,222,.5) 0%,rgba(98,197,222,.5) 50%,rgba(92,187,206,.5) 51%,rgba(40,173,206,.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(160,209,222,.5) 0%,rgba(98,197,222,.5) 50%,rgba(92,187,206,.5) 51%,rgba(40,173,206,.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(160,209,222,.5) 0%,rgba(98,197,222,.5) 50%,rgba(92,187,206,.5) 51%,rgba(40,173,206,.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d1de', endColorstr='#28adce',GradientType=0 ); /* IE6-9 */

border-radius:0px;
border:1px solid black;
}
.navbar-default .navbar-toggle {
height:33px;
border-color:gray;
background-color:rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand {
color:white;
font-size:16px;
line-height:16px;
text-decoration:none;
}
.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-brand:focus {
color:cyan;
text-decoration:none;
}
a:hover {
color:cyan;
}
h1 {
text-shadow: 0px 0px 5px cyan;
}
.navbar-default .navbar-nav li a {
color:white;
box-shadow:inset 0px 0px 10px black;
text-decoration:none;
margin-left:5px;
margin-right:5px;
}

.navbar-default:hover .navbar-nav:hover li:hover a:hover {
color:black;
background-color:lightgray;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
background-color:rgba(255, 255, 255, 0.28);
color:white;
}

.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
box-shadow:inset 0px 0px 10px black;
background-size:100% 100%;
}
.titlehead:hover {
color:cyan;
text-decoration:none;
}
/*Home*/
#desc {
border-radius:10px;
max-width:100%;
display:block;text-decoration:none;color:white;padding:10px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#artlink {
display:block;color:white;
text-align:center;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
#half {
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
border:black 1px solid;
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:7px;
margin-right:7px;
display:inline-block;
vertical-align:top;
}
/*EndHome*/
/*News*/
#newsart {
display:block;text-decoration:none;color:white;padding:5px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;color:lightgray;text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.5;
}
#backln:hover {
opacity:.7;
color:cyan;
}
/*EndNews*/"
BootStrap=".content {
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:45%;
	}
}
#half {
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:7px;
margin-right:7px;
display:inline-block;
vertical-align:top;
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
box-shadow:inset 0px 0px 10px black;
background-size:100% 100%;
}
.titlehead:hover {
color:lime;
text-decoration:none;
}
#artlink {
display:block;
text-align:center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
/*News*/
#newsart {
display:block;text-decoration:none;padding:5px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;color:lightgray;text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.5;
}
#backln:hover {
opacity:.7;
color:lime;
}
/*EndNews*/"
Modern Theme="* {
font-family:MC;
}
body {
margin:0px;
background-color:black;
background-image:url('../imgs/Modern.png');
background-size:141px 142px;
}
.content {
color:white;
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:45%;
	}
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
a {
transition: .3s;
-webkit-transition: .3s;
color:lightgray;
text-decoration:underline;
}
.navbar-default {
background: -moz-linear-gradient(top,  rgba(76,76,76,0.8) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.6)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.8) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
border-radius:0px;
border:1px solid black;
}
.navbar-default .navbar-toggle {
height:33px;
border-color:gray;
background-color:rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand {
color:white;
font-size:16px;
line-height:16px;
text-decoration:none;
}
.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-brand:focus {
color:lime;
text-decoration:none;
}
a:hover {
color:lime;
}
h1 {
text-shadow: 0px 0px 5px lime;
}
.navbar-default .navbar-nav li a {
color:white;
box-shadow:inset 0px 0px 10px black;
text-decoration:none;
margin-left:5px;
margin-right:5px;
}

.navbar-default:hover .navbar-nav:hover li:hover a:hover {
color:black;
background-color:lightgray;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
background-color:rgba(255, 255, 255, 0.28);
color:white;
}

.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
box-shadow:inset 0px 0px 10px black;
background-size:100% 100%;
}
.titlehead:hover {
color:lime;
text-decoration:none;
}
/*Home*/
#desc {
border-radius:10px;
max-width:100%;
display:block;text-decoration:none;color:white;padding:10px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#artlink {
display:block;color:white;
text-align:center;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
#half {
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
border:black 1px solid;
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:7px;
margin-right:7px;
display:inline-block;
vertical-align:top;
}
/*EndHome*/
/*News*/
#newsart {
display:block;text-decoration:none;color:white;padding:5px;
background: -moz-linear-gradient(top,  rgba(76,76,76,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;color:lightgray;text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.5;
}
#backln:hover {
opacity:.7;
color:lime;
}
/*EndNews*/"
Custom Template=".content {
}
@media (max-width: 979px) {
	.content {
		padding-left:5px;
		padding-right:5px;
	}
	#half {
		max-width:500px;
		width:auto;
	}
	
}
@media (min-width: 978px) {
	.content {
		
		padding-left:50px;
		padding-right:50px;
	}
	#half {
		width:80%;
	}
}
#half {
width:90%;
padding-left:10px;
position:relative;
padding-right:10px;
margin-left:4.5%;
margin-right:4.5%;
display:inline-block;
vertical-align:top;
}
#fill {
width:100%; height:100%; top:0px; left:0px;z-index:-1;
border:none;position:absolute;padding-top:137px;
}
.titlehead {
height:100px;
color:white;
z-index:5;
text-shadow: 0px 0px 5px black;
width:100%;
font-size:40px;
position:relative;
display:inline-block;
text-decoration:none;
box-shadow:inset 0px 0px 10px black;
background-size:100% 100%;
}
.titlehead:hover {
color:lime;
text-decoration:none;
}
#artlink {
display:block;
text-align:center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
max-width:950px;
padding:10px;
margin-left:auto;
border:black solid 1px;
margin-right:auto;
}
/*News*/
#newsart {
display:block;text-decoration:none;padding:5px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
max-width:950px;
margin-left:auto;
margin-right:auto;
border:black 1px solid;
}
#backln {
border-radius:5px;font-size:20px;margin:0px;padding:2px;display:inline-block;color:lightgray;text-decoration:none;background-color:black;border:1px solid lightgray;opacity:.5;
}
#backln:hover {
opacity:.7;
color:lime;
}