/**
 * Minecraft Portal
 *
 * This website template is only available at: http://mc-market.org
 * Redistribution is strictly prohibited
 *
 * Copyright (C) 2014 - AlexKvazos
 *
 */

/* == Global == */
html {
    background-color: #2E2E2E;
    background: url(./../../imgs/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif, serif;
    background-color: transparent;
}

/* == Banner == */
.banner {
    text-align: center;
    padding: 90px 0 10px 0;
    color: #f5f5f5;
}

.banner h1 {
    font-family: 'Open Sans', Helvetica, sans-serif, serif;
    margin-top: 30px;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 1);
    font-size: 28px;
}

.banner img {
    margin: 0 auto;
}

.banner .btn-ip {
    margin-top: 50px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid #fff;
    text-shadow: 0 0 8px #000;
	width: 320px;
}

.banner .btn-ip:hover {
    cursor: default;
}


/* == icons == */
.icons {
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
}

.icons a {
    padding: 3px;
    background-color: rgba(0,0,0,0.5);
    width: 50px;
    height: 50px;
    display: inline-block;
    color: black;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-bottom: 4px;
}

.icons a:hover {
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.icons .indicator {
    color: #fff;
    text-shadow: 0 0 10px #000;
}

/* == footer == */
.footer {
    color: #fff;
    text-align: center;
    margin-top: 70px;
}